@charset "utf-8";
/* CSS Document */
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:url(bgp.jpg) repeat;
}
.menu_tbl {
	border:1px solid #999;
}
.menu_tbl td {
	background:url(bg.png) repeat-x;
	height:44px;
	line-height:44px;
	padding:10px;
	text-align:center;
}
.menu_tbl th {
	background:url(bg1.png) repeat-x;
	height:44px;
	line-height:44px;
	padding:10px;
	text-align:center;
	color:#FFF;
	font-size:16px;
}
.menu_tbl a {
	color:#FFF;
	font-weight:700;
	text-decoration:none;
}
.menu_tbl a:hover {
	text-decoration:underline;
}
