@charset "utf-8";
/* CSS Document */
html, body {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#F3F3F3
}
.tool_prev {
	border:1px solid #666;
	padding:3px;
	background:#FFF;
}
.tool_prev th {
	font-weight:700;
	font-size:18px;
	background-color:#CCC;
	padding:3px;
}
.tool_prev td {
	padding:3px;
}
.tool_prev_lst {
	border:1px solid #666;
	padding:3px;
	background:#FFF;
}
.tool_prev_lst th {
	font-weight:700;
	font-size:18px;
	background-color:#CCC;
	padding:3px;
}
.tool_prev_lst td {
	padding:3px;
	border-bottom:1px solid #666;
}